{
  "openapi": "3.0.0",
  "info": {
    "title": "UniFi Protect API",
    "description": "Cloudflare Worker backend for UniFi Protect integration with Home Assistant, featuring security sweeps, patrol configurations, and camera management",
    "version": "1.0.0",
    "contact": {
      "name": "UniFi Protect API",
      "url": "https://github.com/jmbish04/hassio-unifi-protect-backend"
    }
  },
  "servers": [
    {
      "url": "https://protect.hacolby.app",
      "description": "Production server"
    },
    {
      "url": "https://unifi-protect-api.{username}.workers.dev",
      "description": "Development server"
    }
  ],
  "paths": {
    "/webhook": {
      "post": {
        "summary": "Webhook endpoint for events",
        "description": "Receives webhook events from Home Assistant or UniFi Protect",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event processed successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "ok"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid JSON"
          }
        }
      }
    },
    "/agent/security_sweep": {
      "get": {
        "summary": "Trigger security sweep",
        "description": "API-triggered on-demand security sweep",
        "parameters": [
          {
            "name": "camera",
            "in": "query",
            "description": "Focus on specific camera",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Security sweep completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySweepResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Trigger security sweep (POST)",
        "description": "API-triggered on-demand security sweep via POST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "camera": {
                    "type": "string",
                    "description": "Focus on specific camera"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Security sweep completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySweepResult"
                }
              }
            }
          }
        }
      }
    },
    "/protect/login": {
      "post": {
        "summary": "Login to UniFi Protect",
        "description": "Authenticate with UniFi Protect and establish session",
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectLoginResponse"
                }
              }
            }
          },
          "500": {
            "description": "Login failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/protect/cameras": {
      "get": {
        "summary": "Get all cameras",
        "description": "Retrieve list of all UniFi Protect cameras",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of cameras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectCamerasResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch cameras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/protect/cameras/{camera_id}": {
      "get": {
        "summary": "Get specific camera",
        "description": "Retrieve details for a specific camera by ID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "camera_id",
            "in": "path",
            "required": true,
            "description": "Camera ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Camera details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectCameraResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch camera",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/protect/cameras/{camera_id}/streams": {
      "get": {
        "summary": "Get camera streams",
        "description": "Retrieve RTSP stream URLs for a specific camera",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "camera_id",
            "in": "path",
            "required": true,
            "description": "Camera ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Camera streams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectStreamsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch camera streams",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/protect/cameras/{camera_id}/snapshot": {
      "get": {
        "summary": "Get camera snapshot",
        "description": "Retrieve a single snapshot image from a specific camera",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "camera_id",
            "in": "path",
            "required": true,
            "description": "Camera ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Camera snapshot image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Cache control header",
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch camera snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/protect/cameras/{camera_id}/feed": {
      "get": {
        "summary": "Get camera feed",
        "description": "Retrieve live camera feed as MJPEG stream or single snapshot",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "camera_id",
            "in": "path",
            "required": true,
            "description": "Camera ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "description": "Enable MJPEG streaming (true) or single snapshot (false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Camera feed - MJPEG stream or single snapshot",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "multipart/x-mixed-replace": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "description": "Cache control header",
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Connection": {
                "description": "Connection header for MJPEG streams",
                "schema": {
                  "type": "string",
                  "example": "close"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Camera not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch camera feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logs": {
      "post": {
        "summary": "Store log entries",
        "description": "Store single or multiple log entries in D1 database with 30-day TTL. No authentication required for writing logs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LogEntryRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LogEntryRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Log entry stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogEntriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid JSON or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to store log entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve log entries",
        "description": "Query log entries with optional filtering. Authentication required.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of entries to return",
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Number of entries to skip",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "description": "Filter by log level",
            "schema": {
              "type": "string",
              "enum": ["DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"]
            }
          },
          {
            "name": "logger_name",
            "in": "query",
            "required": false,
            "description": "Filter by logger name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter by start date (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter by end date (ISO format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "request_id",
            "in": "query",
            "required": false,
            "description": "Filter by request ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlation_id",
            "in": "query",
            "required": false,
            "description": "Filter by correlation ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log entries retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogEntriesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve log entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logs/stats": {
      "get": {
        "summary": "Get log statistics",
        "description": "Retrieve statistics about stored log entries. Authentication required.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Log statistics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogStatisticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve log statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logs/cleanup": {
      "post": {
        "summary": "Cleanup expired logs",
        "description": "Manually trigger cleanup of expired log entries (older than 30 days). Authentication required.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Log cleanup completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogEntriesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to cleanup expired logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "WebhookEvent": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "description": "Event type"
          },
          "camera": {
            "type": "string",
            "description": "Camera identifier"
          }
        },
        "additionalProperties": true
      },
      "SecuritySweepResult": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          },
          "ts": {
            "type": "number"
          },
          "trigger": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "observations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Observation"
            }
          }
        }
      },
      "Observation": {
        "type": "object",
        "properties": {
          "camera": {
            "type": "string"
          },
          "rule": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "enum": ["pass", "warn", "fail"]
          }
        }
      },
      "ProtectLoginResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ProtectCamerasResponse": {
        "type": "object",
        "properties": {
          "cameras": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtectCamera"
            }
          }
        }
      },
      "ProtectCamera": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "host": {
            "type": "string"
          },
          "connectionHost": {
            "type": "string"
          },
          "lastSeen": {
            "type": "string"
          },
          "isPoorNetwork": {
            "type": "boolean"
          },
          "lastRing": {
            "type": "string"
          },
          "videoCodec": {
            "type": "string"
          },
          "wiredConnectionState": {
            "type": "object"
          },
          "wifiConnectionState": {
            "type": "object"
          },
          "talkbackSettings": {
            "type": "object"
          },
          "speakerSettings": {
            "type": "object"
          },
          "smartDetectSettings": {
            "type": "object",
            "properties": {
              "objectTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "autoTrackingObjectTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "autoTrackingWithZoom": {
                "type": "boolean"
              },
              "audioTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "detectionRanges": {
                "type": "array"
              }
            }
          },
          "motionZones": {
            "type": "array"
          },
          "smartDetectZones": {
            "type": "array"
          },
          "name": {
            "type": "string"
          },
          "mac": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "isRecording": {
            "type": "boolean"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtectChannel"
            }
          }
        }
      },
      "ProtectChannel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "isRtspEnabled": {
            "type": "boolean"
          },
          "rtspAlias": {
            "type": "string"
          }
        }
      },
      "ProtectCameraResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProtectCamera"
          }
        ]
      },
      "ProtectStreamsResponse": {
        "type": "object",
        "properties": {
          "streams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtectStream"
            }
          }
        }
      },
      "ProtectStream": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
